/* .gr-2c {
    display: grid;
    grid-template-columns: 280px calc(100% - 280px);
} */
.sat-logo-sidebar {
    height: auto;
    object-fit: contain;
}
.sidebar-dashboard {
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 32px 16px;
    overflow-y: auto;
    border-right: 1px solid #eaecf0;
    overflow-x: hidden;
    transition: all 0.3s ease-in;
}
.siddashboard {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
}
.main-content {
    margin-left: 280px;
    display: flex;
    transition: margin-left 0.4s ease-in-out;
}
.dashboard-list {
    padding-top: 32px;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dashboard-list-item span {
    white-space: nowrap;
}

.dashborad-icons {
    fill: #5d6370;
    margin-right: 12px;
}

.dashboard-list-item {
    font-family: Lato;
    font-size: 1em;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #0c1529;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.dashboard-list-item:hover {
    background-color: #2384c1;
    color: #ffffff;
    border-radius: 6px;
}
.dashboard-list-item:hover .dashborad-icons {
    fill: #ffffff;
}
.profile-user-img {
    height: 40px;
    width: 40px;
}
.profile-user-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.profile-user {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #eaecf0;
    padding-top: 24px;
    gap: 12px;
}
.profile-user-info span {
    display: block;
    word-break: break-all;
}
.profile-user-info span:first-of-type {
    font-family: Lato;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 20px;
    color: #344054;
}

.profile-user-info span:last-of-type {
    font-family: Lato;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 20px;
    color: #475467;
}
.pb-c24 {
    padding-bottom: 24px;
}
.order-detail {
    padding: 40px 22px;
    max-width: 213px;
    width: 100%;
    border-right: 1px solid #eaecf0;
}
.order-title {
    font-family: Lato;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.016em;
    color: #101828;
    text-align: center;
    margin-bottom: 32px;
}
.or-heading {
    font-family: Lato;
    font-size: 1em;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #0c1529;
    padding-block: 8px;
}
.or-child {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #5d6370;
    padding-block: 4px;
}
.selection-listing {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.selection-listing li {
    margin-bottom: 4px;
}
.main-section {
    width: calc(100% - 213px);
    padding: 32px 32px 32px 22px;
}
.em-search {
    padding-bottom: 12px;
    border-bottom: 1px solid #ced0d4;
}
.search-order-number {
    width: 100%;
    max-width: 231px;
}
.dul-flds {
    display: flex;
    align-items: center;
    justify-content: end;
}
.dul-flds .dropdown {
    max-width: 231px;
    width: 100%;
    border: 1px solid #d0d5dd;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.dul-flds .dropdown-toggle {
    border: none;
    width: 100%;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #667085;
    background-color: #ffffff;
}
.dul-flds .dropdown-toggle::after {
    border: 0;
}
.dul-flds input:focus-visible,
.dul-flds input:focus {
    outline: none;
    border: none;
}
.dul-flds input {
    background-color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #667085;
    border-radius: 0px;
    border: none;
    outline: none;
}
.input-src-order {
    display: flex;
    align-items: center;
    gap: 8px;
}
.search-input-field-order {
    border: 1px solid #d0d5dd;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 14px 12px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    body {
        font-size: 0.875rem;
    }
    .sat-logo-sidebar {
        max-width: 120px;
    }
    .sidebar-dashboard {
        width: 190px;
    }
    .dashboard-list {
        padding-top: 16px;
    }
    .pb-c24 {
        padding-bottom: 16px;
    }
    .main-content {
        margin-left: 190px;
    }
    .order-detail {
        padding: 30px 12px;
        max-width: 213px;
    }
    .or-heading {
        line-height: 19px;
    }
    .order-title {
        font-size: 1.2em;
        margin-bottom: 25px;
    }
    .main-section {
        width: calc(100% - 213px);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    body {
        font-size: 0.875rem;
    }
    .sat-logo-sidebar {
        max-width: 95px;
    }
    .sidebar-dashboard {
        width: 171px;
    }
    .dashboard-list {
        padding-top: 16px;
    }
    .pb-c24 {
        padding-bottom: 16px;
    }
    .main-content {
        margin-left: 171px;
    }
    .order-detail {
        padding: 30px 12px;
        max-width: 171px;
    }
    .main-section {
        width: calc(100% - 171px);
    }
    .or-heading {
        line-height: 19px;
    }
    .order-title {
        font-size: 1.2em;
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
    body {
        font-size: 0.875rem;
    }
    .sat-logo-sidebar {
        max-width: 95px;
    }
    .sidebar-dashboard {
        width: 171px;
    }
    .dashboard-list {
        padding-top: 16px;
    }
    .pb-c24 {
        padding-bottom: 16px;
    }
    .main-content {
        margin-left: 171px;
    }
    .order-detail {
        padding: 30px 12px;
        max-width: 171px;
    }
    .main-section {
        width: calc(100% - 171px);
    }
    .or-heading {
        line-height: 19px;
    }
    .order-title {
        font-size: 1.2em;
        margin-bottom: 25px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 0.75em;
    }
    .dashboard-list-item {
        line-height: normal;
        padding: 8px 0px;
    }
    .sat-logo-sidebar {
        max-width: 95px;
    }
    .sidebar-dashboard {
        width: 152px;
    }
    .main-content {
        margin-left: 152px;
    }
    .dashboard-list {
        padding-top: 16px;
    }
    .pb-c24 {
        padding-bottom: 16px;
    }
    .order-detail {
        padding: 30px 12px;
        max-width: 130px;
    }
    .or-heading {
        line-height: normal;
    }
    .order-title {
        font-size: 1.2em;
        margin-bottom: 25px;
    }
}
